<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>ALL of the carks</title>
    </head>
    <body>
        <h1>The Cars:</h1>
        <div class='container'>
            {% if all_cars is not empty %}
                <ul>
                    {% for car in all_cars %}
                        <div>
                            <li><img src ='{{car.getImagePath}}' alt = '{{car.getMake}}'></li>
                            <li>{{car.getMake}}</li>
                            <li>Miles: {{car.getMiles}}</li>
                            <li>${{car.getPrice}}</li>
                        </div>
                    {% endfor %}
                </ul>
            {% else %}
                <h1>Sorry.  We are currently out of business.</h1>
            {% endif %}
        </div>
    </body>
</html>
